body {
    background-color: #DDDDDD;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}


/*css of header*/

header,
footer {
    width: 100%;
    min-width: 1200px;
    height: 64px;
    background-color: #4a4a4a;
    position: relative;
}

#hleft {
    width: 64px;
    height: 64px;
    background-color: #5ab6f3;
    float: left;
}

.search_input {
    margin: 19px auto auto 66px;
    float: left;
}

.search_input>i::before {
    font-size: 22px;
    line-height: 25px;
    color: #E1DFE1;
}

.search_input>input {
    height: 25px;
    border: 0px;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 25px;
    color: #aca9ac;
    background-color: #4a4a4a;
    display: inline-block;
    margin-left: 26px;
    text-indent: 0.3em;
}

#hright {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    width: 320px;
    top: 0px;
    right: 107px;
}

#hfloat {
    display: -webkit-flex;
    display: flex;
    position: ;
    width: 320px;
    top: 66px;
    right: 106px;
}

#hright>li {
    flex: 0 0 20px;
    margin: auto 30px;
}

.hf {
    flex: 0 0 50px;
    margin: auto 15px;
}

#hfloat>.hf:nth-child(3) {
    flex: 0 0 80px;
    margin: auto 0px;
}

.hf {
    text-align: center;
    font-family: "微软雅黑";
    font-size: 15px;
    line-height: 27px;
    color: #9b9b9b;
    opacity: 0;
}

#hright>li::before {
    line-height: 64px;
    font-size: 24px;
    color: #E1DFE1;
    cursor: pointer;
}

#hright>li.change::before {
    line-height: 64px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.hf>div:nth-child(1) {
    width: 0px;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4a4a4a;
}

.hf>div:nth-child(2) {
    margin: auto;
    width: 50px;
    height: 27px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

#hfspecial {
    width: 80px;
}


/*css of footer*/

footer {
    font-family: Helvetica;
    font-size: 12px;
    color: #9b9b9b;
    line-height: 64px;
    text-align: center;
}

.item {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
}


/*homepage*/

#view_left {
    background-color: #fff;
    width: 615px;
    position: relative;
    top: 39px;
    left: 129px;
}

.view_top {
    width: 615px;
    height: 300px;
    border: 1px solid #dedada;
}

#introduction {
    float: left;
    margin-left: 16px;
    margin-top: 8px;
}

#buy {
    text-align: center;
    position: relative;
    color: white;
    margin-top: 66px;
    background: #5ab6f3;
    border: 1px solid #5ab6f3;
    border-radius: 4px;
    width: 85px;
    height: 36px;
    line-height: 36px;
}

.view_top>img {
    float: left;
    border: 0px solid black;
}

#introduction li {
    margin: 8px auto;
}

.b_title {
    font-family: "黑体";
    font-size: 20px;
    color: #5ab6f3;
    line-height: 28px;
    text-align: left;
}

.b_price {
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000000;
    line-height: 28px;
    text-align: left;
}

.b_ {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #4a4a4a;
    line-height: 17px;
    text-align: left;
}

#intr_rep {
    width: 615px;
    margin-top: 8px;
}

#intr_rep>ul>li {
    display: inline-block;
    width: 28px;
    height: 20px;
    margin: auto 13px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #5ab6f3;
    line-height: 20px;
}

#bookintr {
    height: 20px;
    padding: 16px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #4a4a4a;
    line-height: 20px;
}

#reply {
    height: 20px;
    padding: 16px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #4a4a4a;
    line-height: 20px;
}

#page {
    width: 344px;
    margin: auto;
    margin-bottom: 29px;
}

#page ul>li {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #9b9b9b;
    line-height: 17px;
    text-align: center;
    width: 26px;
    display: inline-block;
}

#page ul>li.change1 {
    text-align: left;
    width: 42px;
}

#page ul>li.change2 {
    text-align: right;
    width: 42px;
}

#view_right {
    width: 293px;
    margin-top: 39px;
    margin-right: 200px;
    float: right;
}

#other_sale {
    border: 1px solid #dedada;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
    width: 291px;
    background-color: white;
}

#other_sale li {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 15px;
}

#other_title {
    padding-left: 20px;
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #dedada;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #535353;
    text-align: left;
}

#fankui {
    background-color: none;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #9b9b9b;
    line-height: 17px;
    margin: 16px auto 32px auto;
}

#user_name {
    display: inline-block;
}

#personal_information {
    padding:19px 0px 0px 16px;
    background: #ffffff;
    border: 1px solid #dedada;
    border-bottom: 0px;
    width: 291px;
    height: 225px;
    margin-bottom: 32px;
}

#personal_message li {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #535353;
    line-height: 17px;
    text-align: left;
    padding: 4px 0px 4px 0px;
}

#seller_name {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #535353;
    line-height: 20px;
    text-align: left;
}

#seller_school {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #9b9b9b;
    line-height: 17px;
    text-align: left;
}

.ed {
    background: #5ab6f3;
    border: 1px solid #5ab6f3;
    border-radius: 4px;
    width: 64px;
    height: 28px;
    position: relative;
    top: 8px;
}

.ed {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #ffffff;
    line-height: 17px;
}
